<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Data Source=Phuong-PC\SQLEXPRESS;Initial Catalog=dbEcustomKH ;Integrated Security=True" />

    <!--Tự động làm mới dữ liệu theo giay -->
    <add key="TimeDelay" value="30" />

  </appSettings>
</configuration>