<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Data Source=EKABIZ-77A8BEE0\MSSQLSERVER2008;Initial Catalog=dbEcustoms ;Integrated Security=True" />

    <!--Tự động làm mới dữ liệu-->
    <add key="TimeDelay" value="30" />

  </appSettings>
</configuration>