<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbEcustomEntities" connectionString="metadata=res://*/ModelEcustoms.csdl|res://*/ModelEcustoms.ssdl|res://*/ModelEcustoms.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Phuong-PC\SQLEXPRESS;Initial Catalog=dbEcustom;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>