<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbEcustomEntities" connectionString="metadata=res://*/ModelEcustoms.csdl|res://*/ModelEcustoms.ssdl|res://*/ModelEcustoms.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=vuongdd-pc;Initial Catalog=dbEcustom;User ID=sa;Password=vuongdd@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>